In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Zad 1

In [2]:
df = pd.DataFrame(columns=["0", "1", "2"])
df

Empty DataFrame
Columns: [0, 1, 2]
Index: []

In [ ]:
df[0]